.game-view {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.game-view .score-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.game-view .divider {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.game-view .container {
    display: flex;
    justify-content: space-around;
    margin: 1rem 0;
    background-color: var(--btn-bg-color);
    border: 2px solid var(--btn-border-color);
    color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 0px 8px var(--shadow-color);
    padding: 15px;
}

.game-view #pong-canvas {
    margin: 3rem 0 0 0;
    border-radius: 10px;
    box-shadow: 0 0px 20px var(--shadow-color);
}

.game-view .player {
    flex: 1;
    padding: 20px;
    background-color: transparent;
    border: none;
}

.game-view .choices button {
    background-color: var(--btn-bg-color);
    border: 2px solid var(--btn-border-color);
    color: var(--text-color);
    font-size: 20px;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--shadow-color);
}

.game-view .choices button:hover {
    background-color: var(--btn-hover-color);
    box-shadow: 0 4px 12px var(--hover-shadow-color);
}

.game-view #result-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--btn-bg-color);
    color: var(--text-color);
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
}

.game-view #timer {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

.game-view .title-container {
    color: var(--primary-color);
    text-shadow: 0 0 5px var(--primary-color);
}

.game-view .icon-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.game-view .profile-icon,
.game-view .fullscreen-icon,
.game-view .search-icon {
    margin-left: 20px;
    cursor: pointer;
    transition: text-shadow 0.3s;
}

.game-view .profile-icon:hover,
.game-view .fullscreen-icon:hover,
.game-view .search-icon:hover {
    text-shadow: 0 0 5px var(--primary-color), 0 0 10px var(--primary-color);
}

.game-view .profile-icon i,
.game-view .fullscreen-icon i,
.game-view .search-icon i {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-shadow: 0 0 5px var(--primary-color);
}

.game-view .site-title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    color: var(--primary-color);
    transition: transform 0.3s ease;
}