.new-tournament-room {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    overflow: hidden;
    position: relative;
}

.new-tournament-room .connected-users{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    max-height: 200px;
    background-color: var(--border-color);
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 0 20px var(--shadow-color);
    position: absolute;
    top: 50px;
    right: 20px;
}

.new-tournament-room .screen {
    text-align: center;
    padding: 10px;
    border: 2px solid var(--border-color);
    border-radius: 12px;
    box-shadow: 0 0 20px var(--shadow-color);
    background-color: var(--border-color);
    max-width: 600px;
    width: 50%;
    position: relative;
    z-index: 10;
}

.new-tournament-room .ball {
    position: absolute;
    background-color: var(--primary-color);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--shadow-color);
}

.new-tournament-room .obstacle {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--border-color);
    box-shadow: 0 0 20px var(--shadow-color);
    border-radius: 8px;
}

.new-tournament-room .exit-btn {
    background: var(--border-color);
    color: var(--muted-color);
    border: none;
    position: relative;
    height: 30px;
    font-size: 1em;
    padding: 0 1em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    margin: 10px;
}

.new-tournament-room .exit-btn:hover {
    background: var(--border-color);
    color: var(--muted-color);
}

.new-tournament-room .exit-btn:before,
.new-tournament-room button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: var(--muted-color);
    transition: 400ms ease all;
}

.new-tournament-room .exit-btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.new-tournament-room .exit-btn:hover:before,
.new-tournament-room .exit-btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.new-tournament-room .start-btn {
    background: var(--primary-color);
    color: var(--text-color);
    border: none;
    position: relative;
    height: 30px;
    font-size: 1em;
    padding: 0 1em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    margin: 10px;
}

.new-tournament-room .start-btn:hover {
    background: var(--border-color);
    color: var(--primary-color);
}

.new-tournament-room .start-btn:before,
.new-tournament-room .start-btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: var(--primary-color);
    transition: 400ms ease all;
}

.new-tournament-room .start-btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.new-tournament-room .start-btn:hover:before,
.new-tournament-room .start-btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.new-tournament-room .bracket {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.new-tournament-room .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
}

/* .new-tournament-room .match {
    width: 100%;
    height: 30px;
    background-color: var(--btn-bg-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
} */

.new-tournament-room .player {
    width: 100%;
    height: 30px;
    background-color: var(--btn-bg-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;/
}
.new-tournament-room .match.winner {
    /* background-color: var(--primary-color); */
    color: var(--primary-color);
    text-shadow: 0 0 10px var(--primary-color);
}

.new-tournament-room .match.loser {
    text-decoration: line-through;
    color: var(--muted-color);
    text-shadow: 0 0 10px var(--muted-color);
}

.new-tournament-room .retry-btn {
    background-color: transparent;
    border: none;
    font-size: 12px;
    cursor: pointer;
    color: #ffffff;
    /* Puedes ajustar el color */
}

.new-tournament-room .retry-btn:hover {
    color: var(--primary-color);
    /* Cambia el color al pasar el ratón por encima */
}

.new-tournament-room .screen .icon {
    font-size: 2.5rem;
    margin-bottom: 15px;
    color: var(--primary-color);
    text-shadow: 0 0 10px var(--primary-color);
}

.new-tournament-room .screen .icon:hover {
    color: var(--secondary-color);
    text-shadow: 0 0 10px var(--secondary-color);
    transition: 0.3s;
    scale: 1.2;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.new-tournament-room .copy-container {
    display: absolute;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    color: var(--primary-color);
    text-shadow: 0 0 5px var(--primary-color);
    font-size: 1.2rem;
}

.new-tournament-room .copy-icon {
    cursor: pointer;
}

.new-tournament-room .copied-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.new-tournament-room .dots::after {
    content: '.';
    animation: dotsAnimation 2s infinite steps(1);
}

@keyframes dotsAnimation {
    0% {
        content: '';
    }

    25% {
        content: '.';
    }

    50% {
        content: '..';
    }

    75% {
        content: '...';
    }

    100% {
        content: '...';
    }
}


.new-tournament-room .title-container {
    color: var(--primary-color);
    text-shadow: 0 0 5px var(--primary-color);
}

.new-tournament-room .icon-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.new-tournament-room .profile-icon,
.new-tournament-room .fullscreen-icon,
.new-tournament-room .search-icon {
    margin-left: 20px;
    cursor: pointer;
    transition: text-shadow 0.3s;
}

.new-tournament-room .profile-icon:hover,
.new-tournament-room .fullscreen-icon:hover,
.new-tournament-room .search-icon:hover {
    text-shadow: 0 0 5px var(--primary-color), 0 0 10px var(--primary-color);
}

.new-tournament-room .profile-icon i,
.new-tournament-room .fullscreen-icon i,
.new-tournament-room .search-icon i {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-shadow: 0 0 5px var(--primary-color);
}

.new-tournament-room .site-title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    color: var(--primary-color);
    transition: transform 0.3s ease;
    z-index: 100;
}

