:root {
    --primary-color: #1abc9c;
    --secondary-color: #16a085;
    --background-color: #111;
    --text-color: #fff;
    --shadow-color: rgba(26, 188, 156, 0.7);
    --hover-shadow-color: rgba(26, 188, 156, 1);
    --border-color: #222;
    --muted-color: #aaa;
    --btn-hover-color: #1abc9c;
    --btn-bg-color: #333;
    --btn-border-color: #222;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

@keyframes glitch {

    0%,
    40%,
    100% {
        text-shadow: 1px 1px 0 var(--primary-color), -1px -1px 0 var(--secondary-color);
        transform: translate(1px, 1px);
    }

    10%,
    30% {
        text-shadow: -1px -1px 0 var(--primary-color), 1px 1px 0 var(--secondary-color);
        transform: translate(-1px, -1px);
    }

    20% {
        text-shadow: 1px 1px 0 var(--secondary-color), -1px -1px 0 var(--primary-color);
        transform: translate(2px, -2px);
    }
}

.glitch {
    animation: glitch 0.5s infinite;
    color: var(--primary-color);
    text-shadow: 0 0 5px var(--primary-color), 0 0 10px var(--primary-color), 0 0 15px var(--secondary-color), 0 0 20px var(--secondary-color);
}

a {
    cursor: pointer;
}






