.tournaments-list {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    overflow: hidden;
    position: relative;
    user-select: none;
}

.tournaments-list .container {
    width: 85%;
    max-width: 1200px;
    padding: 20px;
    background: var(--border-color);
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    margin: 100px auto;
    box-shadow: 0 0 20px var(--shadow-color);
}

.tournaments-list .game-list-container {
    margin-top: 20px;
}

.tournaments-list .section-title {
    font-size: 1.5em;
    color: var(--primary-color);
    margin-bottom: 5px;
    text-transform: uppercase;
}

.tournaments-list .game-list {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    border-radius: 16px;
    gap: 15px;
    scroll-behavior: smooth;
    cursor: grab;
    overflow: hidden;
}

.tournaments-list .game-list:active {
    cursor: grabbing;
}

.tournaments-list .game-item {
    flex-shrink: 0;
    width: 260px;
    background: #333;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    transform: translateY(0);
}

.tournaments-list .game-item:hover {
    box-shadow: 0 10px 30px rgba(26, 188, 156, 0.3);
    /* transform: translateY(-5px); */
}

.tournaments-list .game-info {
    margin-bottom: 15px;
}

.tournaments-list .game-name {
    font-weight: bold;
    font-size: 18px;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.tournaments-list .game-meta {
    font-size: 14px;
    color: var(--muted-color);
    margin-bottom: 5px;
}

.tournaments-list .btn {
    display: inline-block;
    padding: 12px 18px;
    background-color: var(--btn-bg-color);
    color: var(--text-color);
    text-align: center;
    border: 2px solid var(--btn-border-color);
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s, transform 0.2s;
}

.tournaments-list .btn:hover {
    background-color: var(--btn-hover-color);
    transform: scale(1.05);
}

.tournaments-list .game-list::-webkit-scrollbar {
    height: 8px;
}

.tournaments-list .game-list::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 10px;
}

.tournaments-list .game-list::-webkit-scrollbar-track {
    background-color: #333;
}

@media (max-width: 768px) {
    .tournaments-list .game-list {
        flex-direction: column;
        gap: 20px;
    }

    .tournaments-list .game-item {
        width: auto;
    }

}

.tournaments-list .buscar-sala {
    padding: 0.7rem;
    margin: 1rem;
    color: var(--text-color);
    background: var(--btn-bg-color);
    border: 2px solid var(--btn-border-color);
    border-radius: 5px;
}

.tournaments-list .others {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.tournaments-list .title-container {
    color: var(--primary-color);
    text-shadow: 0 0 5px var(--primary-color);
}

.tournaments-list .icon-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.tournaments-list .profile-icon,
.tournaments-list .fullscreen-icon,
.tournaments-list .search-icon {
    margin-left: 20px;
    cursor: pointer;
    transition: text-shadow 0.3s;
}

.tournaments-list .profile-icon:hover,
.tournaments-list .fullscreen-icon:hover,
.tournaments-list .search-icon:hover {
    text-shadow: 0 0 5px var(--primary-color), 0 0 10px var(--primary-color);
}

.tournaments-list .profile-icon i,
.tournaments-list .fullscreen-icon i,
.tournaments-list .search-icon i {
    font-size: 1.5rem;
    color: var(--primary-color);
    text-shadow: 0 0 5px var(--primary-color);
}

.tournaments-list .site-title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    color: var(--primary-color);
    transition: transform 0.3s ease;
}

